{% from 'includes/shell_session.j2' import shell_session %}
{% include 'includes/intro.j2' %}

{% block lead_paragraph %}{% endblock %}

{% include 'includes/front_matter.j2' %}

{% block content %}{% endblock %}
